* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
textarea {
  resize: none !important;
}
.w50 {
  width: 50%;
  margin: 0 auto;
}
.w60 {
  max-width: 600px;
  margin: 0 auto;
}
.w70 {
  width: 70%;
  margin: 0 auto;
}
.p-center {
  text-align: center;
}
.p-text-right {
  text-align: right;
}
.p-text-left {
  text-align: left;
}
.p-m-r {
  margin-right: 15px;
}
.p-m-rl {
  margin-right: 50px !important;
}
.p-m-b {
  margin-bottom: 25px;
}
.p-t-blue {
  color: #0782d1;
}
.yezhu {
  height: 100px;
  text-align: center;
  border: 1px solid #e1e1e1 ;
}
.yezhu img {
  max-height: 100%;
}
.p-t-red {
  color: #FF2728;
}
.p-t-yelloe {
  color: #ECD100;
}
.p-t-light-blue {
  color: #88a6cf;
}
.p-t-gray {
  color: #4B4B4B;
}
.p-f-n {
  font-size: 14px;
}
.p-f-l {
  font-size: 24px;
}
.p-p-lr {
  padding: 0  35px;
}
.p-p-all {
  padding: 35px 20px 30px;
}
.layui-btn-normal {
  background-color: #0782d1 !important;
}
.p-border-b {
  border-bottom: 1px solid #e2e4e9;
}
.p-bb-blue {
  border-bottom: 1px solid #4f6990;
}
.p-tb-blue {
  border-top: 1px solid #0A0D12;
}
.p-pad-b {
  padding-bottom: 5px;
}
.p-pad-t {
  padding-top: 25px;
}
.p-pad-t-s {
  padding-top: 5px;
}
.p-left {
  float: left;
}
.p-right {
  float: right;
}
.p-table {
  padding: 10px;
  display: none;
}
.p-table.on {
  display: block;
}
.p-bg-whit {
  background: #fff;
}
.p-bg-gray {
  background: #EFF2F9;
}
.removeBan {
  position: absolute;
  right: 0px;
  bottom: -25px;
  color: #0782d1;
  display: none;
}
.addBtn {
  position: absolute;
  color: #0782d1;
  right: -120px;
  top: 10px;
}
.min-w {
  min-width: 320px;
  margin-right: 18px !important;
}
.w70 .layui-input-block {
  margin-left: 170px;
}
.w70 .layui-form-label {
  width: 170px;
}
.p-radio {
  border: 1px solid #e6e6e6;
  line-height: 36px;
}
.w50 .layui-btn {
  padding: 0 40px;
}
.p-bg-whit .site-demo-upload .site-demo-upbar {
  height: 100%;
  width: 193px;
  position: absolute;
  left: 0;
  top: 0;
}
.p-bg-whit .site-demo-upload .site-demo-upbar .layui-box {
  opacity: 0;
  width: 190px;
  height: 130px;
}
.p-bg-whit .site-demo-upload .site-demo-upbar .layui-box input {
  width: 190px;
  height: 130px;
}
/*头*/
.p-nav {
  position: fixed;
  width: 100%;
  height: 70px;
  line-height: 70px;
  z-index: 9;
  background: #fff;
}
.p-nav .p-name {
  margin-right: 60px;
}
.p-main-right {
  width: 260px;
  position: fixed;
  padding-top: 70px;
  top: 0;
  height: 100%;
  background: #2a3441;
  z-index: 8;
}
.p-main-right .layui-nav {
  background: none;
}
/*主题*/
.p-main {
  height: 100%;
  padding-top: 70px;
  margin-left: 260px;
}
.p-main .section {
  height: 100%;
  width: 100%;
  background: #EFF2F9;
  padding: 20px;
}
.p-main .section iframe {
  height: 100%;
  width: 100%;
  border: none;
}
.nav-main {
  height: 45px;
  padding-left: 25px;
  background: #0782D0;
  color: #fff;
  font-size: 18px;
  line-height: 45px;
}
