<!doctype html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<div  class=" p-bg-gray p-pad-b p-border-b">
    <span class="layui-breadcrumb" >
        <a href="javascript:;">当前位置</a>
        <a href="javascript:;">系统管理</a>

    </span>
</div>
<div class="p-p-all p-bg-whit">
    <div class="nav-main">
        添加
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>个人基本信息</legend>
    </fieldset>
    <div class="layui-form-item layui-form layui-form-pane">
        <div class="layui-inline">
            <label class="layui-form-label">姓名<span class="p-t-red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline ">
            <label class="layui-form-label">性别<span class="p-t-red">*</span></label>
            <div class="layui-input-inline p-radio" >
              <input type="radio" name="sex" value="男" title="男" checked >
               <input type="radio" name="sex" value="女" title="女">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">出生日期 <span class="p-t-red">*</span> </label>
            <div class="layui-input-inline">
                <input class="layui-input"  onclick="layui.laydate({elem: this, festival: true})">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">国籍/国贯 <span class="p-t-red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">民族 <span class="p-t-red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">户口所在地 <span class="p-t-red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">政治面貌</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">婚姻状况 </label>
            <div class="layui-input-inline p-radio">
                <input type="radio" name="hun" value="已婚" title="已婚" checked >
                <input type="radio" name="hun" value="未婚" title="未婚">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">证件号码 <span class="p-t-red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">会员卡号</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div><br>
        <div class="layui-inline layui-form-text min-w" >
            <label class="layui-form-label">兴趣爱好</label>
            <div class="layui-input-block">
                <textarea placeholder="管理处可根据您的兴趣爱好，日后开展您喜欢的社区文化活动" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-inline layui-form-text min-w" >
            <label class="layui-form-label">业主照片</label>
            <div class="layui-input-block yezhu">

                  <img src="../images/1.jpg"  alt="">

            </div>
        </div>
        <div class="layui-inline  layui-form-text min-w" >
            <label class="layui-form-label">证件类型 <span class="p-t-red">*</span></label>
            <div class="layui-input-block yezhu ">
                <input type="checkbox"  lay-skin="primary" title="居民身份证">
                <input type="checkbox" lay-skin="primary" title="军官证" >
                <input type="checkbox" lay-skin="primary" title="警察证">
                <input type="checkbox" lay-skin="primary" title="护照">
                <input type="checkbox" lay-skin="primary" title="其他">
            </div>
        </div>


    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>个人联系方式</legend>
    </fieldset>
    <div class="layui-form-item layui-form layui-form-pane">
        <div class="layui-inline">
            <label class="layui-form-label">手机号1<span class="p-t-red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机号2 </label>
            <div class="layui-input-inline">
                <input class="layui-input" >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">紧急联系人 <span class="p-t-red">*</span> </label>
            <div class="layui-input-inline">
                <input class="layui-input"  >
            </div>
        </div>
        <div class="layui-inline">
            <label title="紧急联系人电话（区号+号码" class="layui-form-label">紧急联系人电话（区号+号码） <span class="p-t-red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">电子邮箱</label>
            <div class="layui-input-inline">
                <input type="email" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">家庭地址 </label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label title="家庭电话（区号+号码）" class="layui-form-label">家庭电话（区号+号码）</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮政编码 </label>
            <div class="layui-input-inline ">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">微信号码 </label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">MSN</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>工作单位信息</legend>
    </fieldset>
    <div class="layui-form-item layui-form layui-form-pane">
        <div class="layui-inline">
            <label class="layui-form-label">工作单位</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">单位地址</label>
            <div class="layui-input-inline">
                <input class="layui-input"  >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮编</label>
            <div class="layui-input-inline">
                <input class="layui-input"  >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">职业/职务</label>
            <div class="layui-input-inline">
                <input class="layui-input"  >
            </div>
        </div>
        <div class="layui-inline">
            <label title="办公电话（区号+号码）" class="layui-form-label">办公电话（区号+号码）</label>
            <div class="layui-input-inline">
                <input class="layui-input"  >
            </div>
        </div>



    </div>
    <div class="layui-form-item p-m-b">

        <div class="layui-input-block p-text-right">
            <button data-url="view/more-info.html"  onclick="base.page(this)" class="layui-btn layui-btn-normal" href="javascript:;">
                下一步
            </button>
            <button class="layui-btn layui-btn-gray p-t-gray" href="javascript:;">
                取消
            </button>
        </div>
    </div>
</div>



<script src="../js/jquery.min.js"></script>
<script src="../js/layui.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript">
    layui.use(['element','form','laydate'],function () {
        var element = layui.element();
        var form = layui.form();
        var laydate = layui.laydate;
    })



</script>
</body>
</html>